footer.footer(id="footer" role="contentinfo")
    .container.footer__container
        .footer__cols
            .footer__col._left
                svg.footer__logo(width="167" height="107")
                    use(xlink:href="img/sprite.svg#logo")
                p.footer__copyright ©Klymenko Family Foundation, 2015

            .footer__col._right
                a.footer__link(href="mailto:charity@kffund.ru" role="link") charity@kffund.ru
                a.footer__link(href="tel:+74951390342" role="link") +7 (495) 139-03-42
                button.footer__requisites(type="button" role="button" data-fancybox data-src="#modal-requisites")= requisites


