doctype html
block html
    - var htmlLang = ''
html(lang= htmlLang)
    head
        block seo
            - var seo = ''
        include includes/_meta
    body
        block header
            - var currentLang = ''
            -
                var nav = ''
        include includes/_header

        main.main(role="main")
            block intro
                - var introTitle = ''
            include includes/_intro

            block direction
                - var directionTitle = ''
                -
                    var directionItems = ''
            include includes/_direction

        block footer
            - var requisites = ''
        include includes/_footer

        block requisites
            - var requisitesItems = ''
        include includes/_modal

        include includes/_scripts