extends base

block html
	- var htmlLang = 'ru'

block seo
	- var seo = {title: 'Благотворительный фонд семьи Клименко', description: '', keywords: ''}

block header
	- var currentLang = 'Рус'
	-
		var nav = [
			{
				href: '#direction',
				title: 'Направления'
			},
			{
				href: '#footer',
				title: 'Контакты'
			}
		]

block intro
	- var introTitle = 'Благотворительный фонд семьи Клименко'

block direction
	- var directionTitle = 'Направления деятельности'
	-
		var directionItems = [
			{
				icon: 'img/sprite.svg#direction-1',
				title: 'Помощь церквям',
				text: 'Наша цель — развивать и поддерживать духовность, поэтому мы строим и реставрируем церкви, а также помогаем воскресным школам.'
			},
			{
				icon: 'img/sprite.svg#direction-2',
				title: 'Поддержка спорта',
				text: 'Мы занимаемся проектами, нацеленными на популяризацию спорта. Особое внимание мы уделяем инициативам, связанным с детско-юношеским спортом и оздоровительными программами.'
			},
			{
				icon: 'img/sprite.svg#direction-3',
				title: 'Помощь нуждающимся',
				text: 'Мы помогаем людям, оказавшимся в сложной жизненной ситуации.'
			}
		]

block footer
	- var requisites = 'Наши реквизиты'

block requisites
	-
		var requisitesItems = [
			{
				title: 'Название',
				text: 'Благотворительный Фонд Семьи Клименко РУС'
			},
			{
				title: 'ИНН',
				text: '7703404105'
			},
			{
				title: 'КПП',
				text: '773101001'
			},
			{
				title: 'Р/С',
				text: '40703810901300000670 в АО «АЛЬФА-БАНК»'
			},
			{
				title: 'К/С',
				text: '30101810200000000593'
			},
			{
				title: 'БИК',
				text: '044525593'
			},
		]