.fancybox__backdrop {
	background: rgba(0,0,0,.5);
}

.modal {
	display: none;
	width: 100%;
	max-width: 864px;
	padding: 36px;
	background: $color_white;
	border-radius: 32px;

	@media (max-width: 575px) {
		padding: 20px 16px;
		border-radius: 24px;
	}

	& .is-close {
		display: none;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 35px;

		@media (max-width: 575px) {
			margin-bottom: 20px;
		}
	}

	&__title {
		font-size: 1.77rem;
		color: $color_violet;
		font-weight: normal;
		margin: 0;
		padding: 0;
		font-family: 'Noto Serif', sans-serif;

		@media (max-width: 575px) {
			font-size: 1.11rem;
		}
	}

	&__close {
		min-width: 20px;
		max-width: 20px;
		height: 20px;
		background: none;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		&::after,
		&::before {
			content: '';
			width: 15px;
			height: 1px;
			background: $color_violet;
			position: absolute;
		}

		&::after {
			transform: rotate(45deg);
		}
		&::before {
			transform: rotate(-45deg);
		}
	}
}